Content/DirectLearn/DirectLearn01/.vs/
Content/DirectLearn/DirectLearn01/Debug/
Content/DirectLearn/DirectLearn01/DirectLearn01/Debug/
*.user
Content/DirectLearn/DirectLearn02/.vs/
Content/DirectLearn/DirectLearn02/DirectLearn02/Debug/
Content/DirectLearn/DirectLearn02/Debug/DirectLearn02.exe
Content/DirectLearn/DirectLearn02/Debug/
