Content/DirectLearn/DirectLearn01/.vs/
Content/DirectLearn/DirectLearn01/Debug/
Content/DirectLearn/DirectLearn01/DirectLearn01/Debug/
*.user
Content/DirectLearn/DirectLearn02/.vs/
Content/DirectLearn/DirectLearn02/DirectLearn02/Debug/
Content/DirectLearn/DirectLearn02/Debug/DirectLearn02.exe
Content/DirectLearn/DirectLearn02/Debug/
Content/DirectLearn/DirectLearn03/DirectLearn03/Debug/
Content/DirectLearn/DirectLearn03/DirectLearn03/x64/
Content/DirectLearn/DirectLearn03/.vs/
Content/DirectLearn/DirectLearn03/x64/Debug/DirectLearn03.exe
Content/DirectLearn/DirectLearn03/Debug/
Content/DirectLearn/DirectLearn03/x64/
Content/DirectLearn/DirectLearn04/DirectLearn04/Debug/
Content/DirectLearn/DirectLearn04/.vs/
Content/DirectLearn/DirectLearn04/Debug/
Content/DirectLearn/DirectLearn05/.vs/
Content/DirectLearn/DirectLearn05/Debug/
Content/DirectLearn/DirectLearn05/DirectLearn05/Debug/
Content/DirectLearn/DirectLearn05/DirectLearn05/x64/
Content/DirectLearn/DirectLearn06/.vs/
Content/DirectLearn/DirectLearn06/Debug/
Content/DirectLearn/DirectLearn06/DirectLearn06/Debug/
